<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div>
        <center>
            <form action="http://localhost:8000/home/" method="post">
                <label for="name">NAME :</label>&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="text" id="name" placeholder="Enter your name" name="name"><br>
                <label for="mail">EMAIL  &nbsp;&nbsp;:</label>&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;<input type="email" id="mail" placeholder="Enter your Email" name="email"><br>
                <label for="pass">PASSWORD :</label>
                <input type="password" id="pass" placeholder="Enter your Password" name="password"><br>    
                 <button type="submit" id="btn" > SUBMIT</button>
            </form>
        </center>
    </div>
</body>
</html>