body{
    background-color: #f2AA4CFF !important;

}
#myform{
    display: flex;
    justify-content: center;
    margin: 10px;
    width:400px ;
    border: 1px solid yellow;
    /* filter: drop-shadow(4px 4px 5px rgb(252, 248, 244)); */
    box-shadow:4px 4px 5px #df4375 ;
    background-color:#df4375;
    padding: 10px;
    margin-top: 100px;
}
input[type="text"],#select,#number{
    border: none;
    border-bottom: 1px solid whitesmoke;
    margin: 10px;
    padding: 10px;
    outline: none;
    background: transparent;
}
button {
    background-color: #101820FF;
    color: white;
    padding: 7px;
    width: 80px;
    border-radius: 10px;

}

button:hover {
    background-color: #f2AA4CFF;
    color: black;
    border-radius: 10px;

}